<div class="row">

  {{#if posts}}
    {{#each posts}}
      
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/post/{{_id}}"><img src="posts/{{image}}"></a>
        <div class="caption">
          <a href="/post/{{_id}}"><h3>{{caption}}</h3></a>
          <p>By {{author}}</p>
          <form method="POST" action="/post/addLike/{{_id}}/generalAcct">
          <p>            
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;Like</button>
            | <strong>{{likes.length}} likes</strong>
          </p>
          </form>
        </div>
      </div>
    </div>

    {{/each}}
  {{/if}}

</div>