
<div class="panel panel-info">
<div class="panel-heading"><strong>{{post.caption}}</strong> by {{post.author}}</div>
<div class="panel-body">
<div class="thumbnail">
        <a href="../post/{{post._id}}"><img src="../posts/{{post.image}}"></a>
        <div class="caption">
        <h3>{{post.caption}}</h3>
        <p>{{post.author}}</p>
        <form method="POST" action="/post/addLike/{{_id}}/generalAcct">
        <p>            
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;Like</button>
        | <strong>{{post.likes.length}} likes</strong>
        </p>
        </form>
        </p>
        </div>
</div>
</div>
</div>